bin/*
Kernel/*.o
Kernel/*.d
Kernel/*.bak
Kernel/usb/*.bak
Kernel/usb/*.o
Kernel/usb/*.d
Kernel/usb/classdriver/*.o
Kernel/usb/classdriver/*.d
Kernel/usb/xhci/*.o
Kernel/usb/xhci/*.d
tools/hankaku.o
tools/hankaku.bin
disk.img
mnt/EFI/BOOT/BOOTX64.EFI
apps/onlyhlt/onlyhlt
apps/rpn/rpn
apps/rpn/rpn.o
apps/large/large
apps/large/large.o
apps/syscall.o
apps/newlib_support.o